{% extends "base.html" %}

{% block app_content %}
  <table class="table table-hover">
    <tr>
      <td width="256px"><img src="{{ user.avatar(256) }}"></td>
      <td>
        <h1>{{ _('User') }}: {{ user.username }}</h1>
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        {% if user.last_seen %}
        <p>{{ _('Last seen on') }}: {{ moment(user.last_seen).format('LLL') }}</p>
        {% endif %}
        <p>{{ _('%(count)d followers', count=user.followers.count()) }},
           {{ _('%(count)d following', count=user.followed.count()) }}.
        </p>
        {% if user == current_user %}
        <p><a href="{{ url_for('edit_profile') }}">{{ _('Edit your profile') }}</a></p>
        {% elif not current_user.is_following(user) %}
        <p><a href="{{ url_for('follow', username=user.username) }}">{{ _('Follow') }}</a></p>
        {% else %}
        <p><a href="{{ url_for('unfollow', username=user.username) }}">{{ _('Unfollow') }}</a></p>
        {% endif %}
      </td>
    </tr>
  </table>

  {% for post in posts %}
    {% include '_post.html' %}
  {% endfor %}
  <div class="row">
    <div class="col">
      <ul class="pagination pagination-sm">
        <li class="page-item {% if not prev_url %} disabled {% endif %}">
          <a class="page-link" href="{{ prev_url }}">
            <i class='fas fa-arrow-left'></i> {{ _('Newer posts') }}
          </a>
        </li>
      </ul>
    </div>
    <div class="col">
      <ul class="pagination pagination-sm justify-content-end">
        <li class="page-item {% if not next_url %} disabled {% endif %}">
          <a class="page-link" href="{{ next_url }}">
            {{ _('Older posts') }}  <i class='fas fa-arrow-right'></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
